<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Learn</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" 
            routerLink="/">New-Course</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Role
            </a>
    
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a  class="dropdown-item text-dark" href="/">Customer</a>
                <a class="dropdown-item text-dark" href="/seller">Seller</a>
                <div class="dropdown-divider text-dark"></div>
                <a class="dropdown-item text-dark" href="#">Cart</a>
            </div>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/student">Student</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" *ngIf="!isAdminLogin"  routerLink="/admin">Login</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" *ngIf="isAdminLogin" style="cursor: pointer;"  (click)="Onlogout()">Log-Out</a>
          </li> -->
        
        </ul>
       
      </div>
    </div>
  </nav>

