<!-- <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <label>Title:</label>
    <input type="text" formControlName="title">
    <br>
    <label>Description:</label>
    <textarea formControlName="description"></textarea>
    <br>
    <label>Price:</label>
    <input type="number" formControlName="price">
    <br>
    <label>Instructor:</label>
    <input type="text" formControlName="instructor">
    <br>
    <label>Level:</label>
    <select formControlName="level">
      <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
    </select>
    <br>
    <label>Category:</label>
    <select formControlName="category">
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
    <br>
    <button type="submit" [disabled]="!courseForm.valid">Add Course</button>
</form> -->

<div class="container-fluid">
  <div class="container w-50">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="container mt-3">
      <div class="form-group">
          <label for="title">Title:</label>
          <input id="title" type="text" formControlName="title" class="form-control" >
          <div *ngIf="(courseForm.get('title')?.invalid && courseForm.get('title')?.touched)" class="text-danger">
              Title is required.
          </div>
      </div>

      <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" formControlName="description" class="form-control" ></textarea>
          <div *ngIf="courseForm.get('description')?.invalid && (courseForm.get('description')?.dirty || courseForm.get('description')?.touched)" class="text-danger">
              Description is required
          </div>
          <div *ngIf="courseForm.get('description')?.hasError('maxlength') && courseForm.get('description')?.touched">
            Description must be at least 500 characters long.
          </div>          
      </div>

      <div class="form-group">
          <label for="price">Price:</label>
          <input id="price" type="number" formControlName="price" class="form-control" >
          <div *ngIf="courseForm.get('price')?.invalid && (courseForm.get('price')?.dirty || courseForm.get('price')?.touched)" class="text-danger">
              Price is required.
          </div>
      </div>

      <div class="form-group">
          <label for="instructor">Instructor:</label>
          <input id="instructor" type="text" formControlName="instructor" class="form-control" >
          <div *ngIf="courseForm.get('instructor')?.invalid && (courseForm.get('instructor')?.dirty || courseForm.get('instructor')?.touched)" class="text-danger">
              Instructor is required.
          </div>
      </div>

      <div class="form-group">
          <label for="level">Level:</label>
          <select id="level" formControlName="level" class="form-control" >
              <option value="">Select level</option>
              <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
          </select>
          <div *ngIf="courseForm.get('level')?.invalid && (courseForm.get('level')?.dirty || courseForm.get('level')?.touched)" class="text-danger">
              Level is required.
          </div>
      </div>

      <div class="form-group">
          <label for="category">Category:</label>
          <select id="category" formControlName="category" class="form-control">
              <option value="">Select category</option>
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
          </select>
          <div *ngIf="courseForm.get('category')?.invalid && (courseForm.get('category')?.dirty || courseForm.get('category')?.touched)" class="text-danger">
              Category is required.
          </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!courseForm.valid">Add Course</button>
    </form>
</div>
</div>

